/* Here are example using scss */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 3.5rem;
  }
}


.link {
  color: #61dafb;
  font-size: 2rem;
  margin-top: 3rem;
}


.poster {
  max-width: 300px;
  height: auto;
  float: left;
  
}

.heading {
  float: left;
  margin-left: 1em;
}

.summaryHead {
  margin-left: 1em;
  overflow-wrap: break-word;
  padding-top: 3rem;
}

.info {
  float: left;
}

.summary {
  float: left;
}

.form {
  float: left;
}

.youtube {
  margin-right: auto;
  margin-left: auto;
}