/* Here are example using scss */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #282c34;
  color: #fff;
  font-size: 1.6rem;
  text-align: center;

  & > * {
    margin: 2rem 0;
  }
}

.header {
  h1 {
    font-size: 3.5rem;
  }
}


a {
  color: #61dafb;
  font-size: 2rem;
  margin-top: 3rem;
}


.poster {
  max-width: 300px;
  height: auto;
  margin-left: auto;
  margin-right: auto;;
  
}

// .heading {
//   float: left;
//   margin-left: 1em;
// }

// .summaryHead {
//   margin-left: 1em;
//   padding-top: 3rem;
//   float: left;
// }

// .info {
//   float: left;
// }

// .summary {
//   float: left;
//   max-width: 70%;
// }

// .summary-data{
//   float: left;
//   max-width: 70%;
// }

.form {
  float: left;
}

.youtube {
  margin-right: auto;
  margin-left: auto;
}

#displayVideo {
  position: relative;
  float: left;
}

/*  SECTIONS  */
.section {
	clear: both;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FOUR  */
.span_4_of_4 {
	width: 20%;
}
.span_3_of_4 {
	width: 20%;
}
.span_2_of_4 {
	width: 20%;
}
.span_1_of_4 {
	width: 20%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
  .span_1_of_4, .span_2_of_4, .span_3_of_4, .span_4_of_4 { width: 100%; }
  .poster {max-width: 200px;}
  .youtube{max-width: 300px;
    height: auto;}
  body{
    max-width: 95%;
  }
}

.btn-long{
  width: 100px;
  height: 30px;
}

.btn-small{
  width: 30px;
  height: 30px;
}

.btn {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #61dafb;
  color: #000000;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #61dafb;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
