

.txtfield {
    position: relative;
    display: inline-block;
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 16px;
    line-height: 1.5;
    overflow: hidden;
  }
  
  /* Input, Textarea */
  .txtfield > input,
  .txtfield > textarea {
    display: block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    border-top: solid 27px transparent;
    border-bottom: solid 1px rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    padding: 0 0 4px;
    width: 100%;
    height: inherit;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
    background-color: transparent;
    box-shadow: none; /* Firefox */
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* caret-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)); */
    transition: border-bottom 0.2s, background-color 0.2s;
  }
  
  /* Span */
  .txtfield > input + span,
  .txtfield > textarea + span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    padding: 7px 0 0;
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.6);
    font-size: 75%;
    line-height: 18px;
    pointer-events: none;
    transition: color 0.2s, font-size 0.2s, line-height 0.2s;
  }
  
  /* Underline */
  .txtfield > input + span::after,
  .txtfield > textarea + span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    /* background-color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)); */
    transform-origin: bottom center;
    transform: scaleX(0);
    transition: transform 0.2s;
  }
  
  /* Hover */
  .txtfield > input:hover,
  .txtfield > textarea:hover {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.87);
  }
  
  /* Placeholder-shown */
  .txtfield > input:not(:focus):placeholder-shown + span,
  .txtfield > textarea:not(:focus):placeholder-shown + span {
    font-size: inherit;
    line-height: 56px;
  }
  
  /* Focus */
  .txtfield > input:focus,
  .txtfield > textarea:focus {
    outline: none;
  }
  
  .txtfield > input:focus + span,
  .txtfield > textarea:focus + span {
    /* color: rgb(var(--pure-material-primary-rgb, 33, 150, 243)); */
  }
  
  .txtfield > input:focus + span::before,
  .txtfield > textarea:focus + span::before {
    opacity: 0.12;
  }
  
  .txtfield > input:focus + span::after,
  .txtfield > textarea:focus + span::after {
    transform: scale(1);
  }
  
  /* Disabled */
  .txtfield > input:disabled,
  .txtfield > textarea:disabled {
    border-bottom-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  }
  
  .txtfield > input:disabled + span,
  .txtfield > textarea:disabled + span {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
  }
  
  /* Faster transition in Safari for less noticable fractional font-size issue */
  @media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        .txtfield > input,
        .txtfield > input + span,
        .txtfield > input + span::after,
        .txtfield > textarea,
        .txtfield > textarea + span,
        .txtfield > textarea + span::after {
            transition-duration: 0.1s;
        }
    }
  }